
#uid
{font-size: 100px;
color: gainsboro;
}
#programmingimg
{
    width: 100%;
    }
#hline
{
    border: 1px solid;
    background-color: aqua;
    width: 70px;
    position: relative;
    top: 30px;
    padding: 9px;
}
.uandhline
{
    position: relative;
    top: 200px;
    left: 100px;
}
#trending
{
font-size: 25px;
}
#soft
{
    font-size: 25px;;
}
.trendandsoft
{
    position: relative;
    bottom:20px; 
    color: white;
}
.transp-box
{    position: relative; 
    border: 1px solid;
    opacity: 0.4;
    background-color: black;
    padding: 70px;
    bottom: 740px;
    height: 180PX;
     width: 800px;
}
.transp-verbox
{
    position: relative;
        border: 1px solid;
        opacity: 0.4;
        background-color:seashell;
        padding: 70px;
        left: 800px;
         bottom: 922PX;
         height: 500px;
        width: 310px;
}
.transp-squrebox
{
    position: relative;
        border: 1px solid;
        opacity:0.5;
        background-color:black;
        padding: 2Px;
        left: 798px;
         bottom: 925px;
        height: 245px;
        width: 312px;
}
.transp-hbox2
{
    position: relative;
        border: 1px solid;
        opacity:0.5;
        background-color: yellow;
        padding: 70px;
        left: 0px;
        bottom: 1170px;
        height: 245px;
        width: 800px;
}
#hirstid
{ font-size: 100px;
  color: red;
}
.coded
{
    background-color: aqua;
    padding: 20PX;
    width: 310px;
    height: 250px;
    position: relative;
 left: 800px;
 bottom:196px;
}
#LOGOIMG
{
    width: 80px;
    position: relative;
    left: 10px;
    top: 80PX;
}
.CODEDANDLOGO
{
    position: relative;
    left: 90PX;
}
.secondcontainer
{
    position: relative;
    bottom: 1190px;
}
#ourcompanie
{
    color: red;
}
.lastdiv
{ position: relative;
    bottom: 1380px;
    opacity:;
    bottom: 820px;
    background-color: antiquewhite;
    width: 600px;
    height: 500px;

}
#secondid
{
    color: green;
}
.lastbox
{
position: relative;
    opacity: ;
    left: 600px;
    bottom: 1320px;
    background-color:gray;
    width: 510px;
    padding: 10px;
    height: 500px;  
}
#TROPIE
{
    width: 100px;
}
#redline
{
    position: relative;
    background-color: red;
    width: 600px;
    height: 10px;
    bottom: 2px;
}
#lastcon
{
    position: relative;
    bottom: 570px;


}